.botones-abajo{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.botones-abajo button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

.textoNoCarrito{
    display: flex;
    justify-content: center;
    margin-top:3%;
    margin-bottom:5%;
}