.card {
    background: white;
    border-radius: 16px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
    padding: 1.5rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    z-index: 1;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.card img {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}

.card h2 {
    font-size: 1.2rem;
    color: #0b64ad;
    margin: 0.5rem 0;
}

.card h3 {
    font-size: 1rem;
    color: #555;
    font-weight: 600;
}
.card .btn-agregar {
    background: linear-gradient(90deg, #3f6dee, #2071ce);
    color: white;
    border: none;
    padding: 0.8rem 1.2rem;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    z-index: 9999;
}
.card a{
    text-decoration: none;
}